<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @designer, partial: "card", as: :designer %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "designers/designer_details" %>
  </div>
</div>
