<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Designers

    <a data-toggle="collapse" href="#project_designers_new_form">
      Add designer
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @project.designers.each do |designer| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to designer, designer %>

        <%= link_to designer, method: :delete, data: { confirm: "Do you really want to delete this designer" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="project_designers_new_form">
        <%= render partial: "projects/project_designers_new_form" %>
      </div>
    </div>

  </ul>
</div>
