<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @project, partial: "card", as: :project %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "projects/project_details" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "projects/project_designers" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "projects/project_suppliers" %>
  </div>
</div>
  <!-- Show Page Customization end -->
