<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @supplier, partial: "card", as: :supplier %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "suppliers/supplier_products" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "suppliers/supplier_projects" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "suppliers/supplier_details" %>
  </div>
</div>
