<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Materials

    <a data-toggle="collapse" href="#detail_materials_new_form">
      Add material
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @detail.materials.each do |material| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to material, material %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to material, method: :delete, data: { confirm: "Do you really want to delete this material" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="detail_materials_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
